<div>
  <h3 class="myform">1. Contact details</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.label "First Name", :class => "label_spec" %>
      <%= p.text_field :firstName, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "Surname(s)", :class => "label_spec" %>
      <%= p.text_field :surnames, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "Email", :class => "label_spec" %>
      <%= p.email_field :email, :class => "text_field_spec" %>
    </div>      
    <div>
      <%= p.label "Telephone", :class => "label_spec" %>
      <%= p.telephone_field :phone_number, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "Skype Name", :class => "label_spec" %>
      <%= p.text_field :skype_name, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "Linkedin Profile", :class => "label_spec" %>
      <%= p.text_field :linkedin_profile, :class => "text_field_spec" %>
    </div>      
    <div>
      <%= p.label "Picture", :class => "label_spec" %>
      <br/>
      <%= p.file_field :picture, :value => "/uploads/profile/picture/1/DETAIL.jpg" %>
    </div>  
    <br/>
    <hr>
  </div>

  <h3 class="myform">2. Demographics</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.label "Birth Date", :class => "label_spec" %>
      <p>
      <%= p.label "Day:", :class => "shorter_label_spec" %>
      <%= p.number_field :born_on_day, in: 1..31, step: 1, :class => "number_field_spec" %> &nbsp&nbsp&nbsp&nbsp
      <%= p.label "Month:", :class => "shorter_label_spec" %>
      <%= p.number_field :born_on_month, in: 1..12, step: 1, :class => "number_field_spec" %> &nbsp&nbsp&nbsp&nbsp
      <%= p.label "Year:", :class => "shorter_label_spec" %>
      <%= p.number_field :born_on_year, in: 1910..2000, step: 1, :class => "number_field_spec" %> 
      </p>      
    </div>
    <br/>    
    <% if current_user.type == "Mentor" %>
      <div class="field">
        <%= p.label "Sex", :class => "label_spec" %>
        <%= p.radio_button :sex, 'Male' %> 
        <%= p.label :sex_male, 'Male' %> &nbsp
        <%= p.radio_button :sex, 'Female' %> 
        <%= p.label :sex_female, 'Female' %>
      </div>
      <br/>
    <% end %>    
    <div class="field">
      <%= p.label "Country of Origin" %><br />
      <%= p.country_select :country_origin, {priority: %w(PT), prompt: 'Please select a country'} %>
    </div>
    <br/>
    <div class="field">
      <%= p.label "Country of Residence" %><br />
      <%= p.country_select :country_residence, {priority: %w(PT), prompt: 'Please select a country'} %>
    </div>
    <br/>
    <div class="field">
      <%= p.label "City of Residence" %><br />
      <%= render partial: 'subregion_select', locals: {parent_region: p.object.country_residence} %>
    </div>
    <br/>
    <div>
      <%= p.label "Marital Status", :class => "label_spec" %>
      <%= p.radio_button :marital_status, 'Single' %> 
      <%= p.label :marital_status_single, 'Single' %> &nbsp
      <%= p.radio_button :marital_status, 'Cohabiting' %> 
      <%= p.label :marital_status_cohabiting, 'Cohabiting' %> &nbsp
      <%= p.radio_button :marital_status, 'Married'  %>
      <%= p.label :marital_status_married, 'Married' %>&nbsp
      <%= p.radio_button :marital_status, 'Divorced'%>
      <%= p.label :marital_status_divorced, 'Divorced' %>&nbsp
      <%= p.radio_button :marital_status, 'Widowed' %>
      <%= p.label :marital_status_widowed, 'Widowed' %>
    </div>
    <br/>
    <div>
      <%= p.label "Number of Children", :class => "label_spec" %>
      <%= p.number_field :number_children, in: 0..20, step: 1, :class => "number_field_spec" %> 
    </div>          
    <br/>
    <hr>
  </div>

  <h3 class="myform">3. Studies</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.label "Highest academic title", :class => "long_label_spec" %>
      <%= p.select :highest_academic, options_for_select([@profile.highest_academic, '-----------',
        'Licence (pre-Bologna)', 
        'Bachelor',
        'Master', 
        'Doctorate', 
        'other' ]) %> 
        <br/>
        <%= p.label "Other (please specify)", :class => "other_label_spec" %>
        <%= p.text_field :highest_academic_other, :class => "other_text_spec" %>
      </div>
      <div>
        <%= p.label "Main area of studies", :class => "long_label_spec" %>
        <%= p.select :main_area, options_for_select([@profile.main_area, '-----------',
          'Agriculture',
          'Anthropology',
          'Archaeology',
          'Architecture and design',
          'Area studies',
          'Arts',
          'Biology',
          'Business',
          'Chemistry',
          'Computer sciences',
          'Cultural and ethnic studies',
          'Divinity',
          'Earth sciences',
          'Economics',
          'Education',
          'Engineering',
          'Environmental studies and forestry',
          'Family and consumer science',
          'Gender and sexuality studies',
          'Geography',
          'Human history',
          'Human physical performance and recreation*',
          'Journalism, media studies and communication',
          'Law',
          'Library and museum studies',
          'Linguistics',
          'Literature',
          'Logic',
          'Mathematics',
          'Medicine',
          'Military sciences',
          'Philosophy',
          'Physics',
          'Political science',
          'Psychology',
          'Public administration',
          'Religion',
          'Social work',
          'Sociology',
          'Space sciences',
          'Statistics',
          'Systems science',
          'Transportation',
          'Other']) %> <br/>

          <%= p.label "Other (please specify)", :class => "other_label_spec" %>
          <%= p.text_field :main_area_other, :class => "other_text_spec" %>

        </div>  
        <div>
          <%= p.label "Country of main studies", :class => "long_label_spec" %>
          <%= p.country_select :study_country, {priority: %w(PT), prompt: 'Please select a country'}%>
        </div>
        <div>
          <%= p.label "Other (please specify)", :class => "other_label_spec" %>
          <%= p.text_field :studies_other, :class => "other_text_spec" %>
        </div> 
        <br/>
        <hr>
      </div>

      <h3 class="myform">4. Professional experience</h3>
      <div class="container", style="width: 70%; margin-left: 30%">
        <div>
          <%= p.label "Years of professional experience", :class => "long_label_spec"  %>
          <%= p.number_field :years_experience, in: 0..100, step: 1, :class => "number_field_spec"%>
        </div>      
        <div>
          <%= p.label "International Experience", :class => "long_label_spec" %>
          <%= p.text_field :international_experience, :class => "text_field_spec" %>
        </div>
        <div>
          <%= p.label "Curriculum Vitae", :class => "label_spec" %>
          <br/>
          <%= p.file_field :cv %>
        </div>  
        <br/>
        <hr>
      </div>

      <h3 class="myform">5. Company I work for</h3>
      <div class="container", style="width: 70%; margin-left: 30%">
        <div>
          <%= p.label "Company", :class => "label_spec" %>
          <%= p.select :company, options_for_select([@profile.company, '-----------', 'Please select one',
            'ACCENTURE','ALLIANCE HEALTHCARE, S.A.',
            'ANA - AEROPORTOS DE PORTUGAL, S.A.',
            'AUTOEUROPA - AUTOMÓVEIS, LDA',
            'AUTOMÓVEIS CITROEN, S.A.',
            'BANCO EFISA',
            'BANCO POPULAR',
            'BANCO SANTANDER TOTTA',
            'BANIF SA',
            'BARCLAYS',
            'BES / NOVO BANCO',
            'BLAUPUNKT AUTO-RADIO PORTUGAL, LDA',
            'BMW PORTUGAL, LDA',
            'BOSCH TERMOTECNOLOGIA S.A.',
            'BP GEST24 - EXPLORAÇÃO DE POSTOS ABAST. (...)',
            'BP PORTUGAL - COMERCIO DE COMBUSTIVEIS  (...)',
            'BRISA - AUTO-ESTRADAS DE PORTUGAL, S.A.',
            'BUSINESS UNLIMITED, LDA.',
            'C.A.C.I.A. - COMPANHIA AVEIRENSE DE COMP(...)',
            'CAETANO - AUTO, S.A.',
            'CAIXA GERAL DE DEPÓSITOS',
            'CAMPOFRIO FOOD GROUP',
            'CENTRO HOSPITALAR DE LISBOA CENTRAL, E.P.E.',
            'CEPSA - PORTUGUESA PETRÓLEOS, S.A.',
            'CHARVILLE - CONSULTORES E SERVIÇOS, LDA',
            'CIMPOR - INDÚSTRIA DE CIMENTOS, S.A.',
            'CODIFAR - COOPERATIVA DISTRIBUIDORA FARM(...)',
            'COFANOR - COOPERATIVA DOS FARMACÊUTI.(...)',
            'COMPANHIA IBM PORTUGUESA, S.A.',
            'COMPANHIA PORTUGUESA DE HIPERMERCADOS, S.A.',
            'CONTINENTAL MABOR - INDÚSTRIA DE PNEUS, S.A.',
            'CONTINENTE HIPERMERCADOS, S.A.',
            'COOPROFAR - COOPERATIVA DOS PROPR. DE FARMÁ(...)',
            'COVIDIEN',
            'CP - CAMINHOS DE FERRO PORTUGUESES, E.P.',
            'CPCDI - COMPANHIA PORTUGUESA DE COMP. (...)',
            'CTT - CORREIOS DE PORTUGAL, S.A.',
            'DELOITTE',
            'DELPHI AUTOMOTIVE SYSTEMS - PORTUGAL, S.A.',
            'DEUTSCHE BANK',
            'DIA PORTUGAL - SUPERMERCADOS, SOCIE. (...)',
            'DIÁRIO ECONÓMICO',
            'EDP - ENERGIAS DE PORTUGAL, S.A.',
            'EDP - GESTÃO DA PRODUÇÃO DE ENERGIA, S.A.',
            'EDP COMERCIAL - COMERCIALIZAÇÃO DE ENERGIA',
            'EDP DISTRIBUIÇÃO - ENERGIA, S.A.',
            'EDP SA - ENERGIAS DE PORTUGAL',
            'EDP SOLUÇÕES COMERCIAIS, S.A.',
            'EGOR',
            'EL CORTE INGLES - GRANDES ARMAZENS, S.A.',
            'ELCA-COSMÉTICOS, LDA',
            'EPIS - EMPRESÁRIOS PELA INCLUSÃO SOCIAL',
            'EPUL ',
            'ESPIRITO SANTO SAUDE',
            'FAURECIA - ASSENTOS DE AUTOMÓVEL, LDA',
            'FEIRA NOVA - HIPERMERCADOS, S.A.',
            'FNAC PORTUGAL - ACTIVIDADES CULTURAIS E DIS(...)',
            'FORD LUSITANA, S.A.',
            'FREELANCER',
            'FUNDAÇÃO VODAFONE',
            'G.M.A.C.- COMERCIO E ALUGUER DE VEICULOS, LDA',
            'GALP COMERCIALIZAÇÃO PORTUGAL, LDA',
            'GALP EXPLORAÇÃO E PRODUÇÃO PETROLÍFERA, S.A.',
            'GALP GÁS NATURAL, S.A.',
            'GALPGESTE - GESTÃO DE ÁREAS DE SERVIÇO, S.A.',
            'GCT ON LINE - DISTRIBUIÇÃO ALIMENTAR DIRECTA, S.A.',
            'GENERAL MOTORS PORTUGAL, LDA',
            'GESPOST - GESTÃO E ADMINISTRAÇÃO DE POSTOS(...)',
            'GOOGLE',
            'GRUPO MONTALVA',
            'GRUPO PESTANA',
            'HEIDRICK & STRUGLES',
            'HEWLETT-PACKARD PORTUGAL, LDA',
            'HOSPITAL DE SANTA MARIA, E.P.E.',
            'HOSPITAL SÃO JOÃO, E.P.E.',
            'IBM PORTUGAL',
            'IKEA PORTUGAL - MÓVEIS E DECORAÇÃO, LDA',
            'INFORMA D&B',
            'LACTOGAL - PRODUTOS ALIMENTARES, S.A.',
            'LEO BURNETT',
            'LOUIS DREYFUS CITRUS TRADING, UNIPESSOAL, LDA',
            'LUSOSIDER - AÇOS PLANOS, S.A.',
            'MAKRO CASH & CARRY PORTUGAL, S.A.',
            'MAKSEN',
            'MALO CLINIC',
            'MARIA OLIVEIRA PRODUTOS ALIMENTARES,LDA.',
            'MCCANN-ERICKSON',
            'MEGASA, COMÉRCIO DE PRODUTOS SIDERURGICOS, LDA',
            'MERCEDES-BENZ PORTUGAL, S.A.',
            'MERCER',
            'MERCK SHARP & DOHME',
            'MICROSOFT',
            'MIDSID - SOCIEDADE PORTUGUESA DE DISTRIBUIÇÃO',
            'MILLENNIUM BCP',
            'MODELO CONTINENTE - HIPERMERCADOS, S.A.',
            'MONTEPIO',
            'MOTA-ENGIL, ENGENHARIA E CONSTRUÇÃO, S.A.',
            'MOTIVA-TE',
            'MSF - MONIZ DA MAIA, SERRA & FORTUNATO  (...)',
            'MUILTICARE',
            'MULTIVISION AND ADSOUL',
            'MY CHANGE - VISÃO POSITIVA, LDA',
            'NESTLÉ - PORTUGAL, S.A.',
            'NETJETS - TRANSPORTES AEREOS, S.A.',
            'NORS GROUP',
            'NOVA SCHOOL OF BUSINESS AND ECONOMICS',
            'NOVABASE',
            'NOVARTIS',
            'NPA PHARMA, LDA.',
            'OCP-PORTUGAL - PRODUTOS FARMACEUTICOS, S.A.',
            'OHCS II - SERVIÇOS DE INTERNET, UNIPESSOAL, LDA',
            'OLEOCOM - COMERCIO DE OLEAGINOSAS, S.A.',
            'PETRÓLEOS DE PORTUGAL - PETROGAL, S.A.',
            'PEUGEOT CITROEN AUTOMÓVEIS PORTUGAL, S.A.',
            'PEUGEOT PORTUGAL AUTOMÓVEIS, S.A.',
            'PINGO DOCE - DISTRIBUIÇÃO ALIMENTAR, S.A.',
            'PORTUCEL - EMPRESA PRODUTORA DE PASTA E PAPEL, S.A.',
            'PSA GESTÃO - COMÉRCIO E ALUGUER DE VEÍCULOS, S.A.',
            'PT COMUNICAÇÕES, S.A.',
            'PT PRIME - SOLUÇÕES EMPRESARIAIS DE TELECOM. (...)',
            'PWC PORTUGAL (PRICEWATERHOUSECOOPERS)',
            'QIMONDA PORTUGAL, S.A.',
            'RAY HUMAN CAPITAL',
            'REAGRO - IMPORTAÇÃO E EXPORTAÇÃO, S.A.',
            'RECHEIO - CASH & CARRY, S.A.',
            'REN - REDE ELÉCTRICA NACIONAL, S.A.',
            'REN TRADING, S.A.',
            'RENAULT PORTUGAL, S.A.',
            'REPSOL POLÍMEROS, LDA',
            'REPSOL PORTUGUESA, S.A.',
            'RTP - RÁDIO TELEVISÃO',
            'SAIPEM (PORTUGAL) - COMÉRCIO MARÍTIMO, SOCI (...)',
            'SAMSUNG - ELECTRÓNICA PORTUGUESA, S.A.',
            'SANTANDER',
            'SAPHETY',
            'SCC - SOCIEDADE CENTRAL DE CERVEJAS E BEBIDAS',
            'SECIL - COMPANHIA GERAL DE CAL E CIMENTO',
            'SERVIÇO DE SAÚDE DA REGIÃO AUTÓNOMA DA MADEIRA',
            'SIEMENS, S.A.',
            'SIERRA MANAGEMENT PORTUGAL - GESTÃO DE CENTROS (...).',
            'SIMÕES & RODRIGUES, LDA',
            'SIVA - SOCIEDADE DE IMPORTAÇÃO DE VEÍCULOS AUTOMÓVEIS',
            'SN MAIA - SIDERURGIA NACIONAL, S.A.',
            'SN SEIXAL - SIDERURGIA NACIONAL, S.A.',
            'SOCIEDADE DE CONSTRUÇÕES SOARES DA COSTA, S.A.',
            'SOMAGUE - ENGENHARIA, S.A.',
            'SOMINCOR - SOCIEDADE MINEIRA DE NEVES-CORVO, S.A.',
            'SONAE INDÚSTRIA - PRODUÇÃO E COMERCIALIZA.(...)',
            'SONAECOM - SERVIÇOS DE COMUNICAÇÕES, S.A.',
            'SOPORCEL - SOCIEDADE PORTUGUESA DE PAPEL, S.A.',
            'SOUZA CRUZ OVERSEAS, S.A.',
            'SOVENA PORTUGAL - CONSUMER GOODS, S.A.',
            'TABAQUEIRA - EMPRESA INDUSTRIAL DE TABACOS, S.A.',
            'TEIXEIRA DUARTE - ENGENHARIA E CONSTRUÇÕES, S.A.',
            'THE SWATCH GROUP (EUROPA) - SOCIEDADE UNIPESSOAL',
            'TMN - TELECOMUNICAÇÕES MÓVEIS NACIONAIS, S.A.',
            'TOTAL PORTUGAL - PETRÓLEOS, S.A.',
            'TOYOTA CAETANO PORTUGAL, S.A.',
            'TRANSGÁS, S.A.',
            'TRANSPORTES AEREOS PORTUGUESES, S.A.',
            'TURBOGÁS - PRODUTORA ENERGÉTICA, S.A.',
            'UNIÃO DOS FARMACÊUTICOS DE PORTUGAL, C.R.L.',
            'UNICER - DISTRIBUIÇÃO DE BEBIDAS, S.A.',
            'UNILEVER JERÓNIMO MARTINS, LDA',
            'UNITED EUROPEAN CAR CARRIERS, UNIPESSOAL, LDA',
            'UNIVERSIDADE CATÓLICA PORTUGUESA',
            'UNIVERSIDADE TECNICA',
            'VIAGENS ABREU, S.A.',
            'VODAFONE PORTUGAL - COMUNICAÇÕES PESSOAIS, S.A.',
            'WORTEN - EQUIPAMENTOS PARA O LAR, S.A.',
            'ZAGOPE - CONSTRUÇÕES E ENGENHARIA, S.A.',
            'ZARA PORTUGAL - CONFECÇÕES, UNIPESSOAL, LDA',
            'ZON TV CABO PORTUGAL, S.A.',
            'Unemployed',
            'Freelancer',
            'Other' ]) %> 
            <br>
            <%= p.label "Other (please specify)", :class => "other_label_spec" %>                                            
            <%= p.text_field :company_other, :class => "other_text_spec" %>
          </div>
          <div>
            <%= p.label "Job title", :class => "long_label_spec" %>
            <%= p.text_field :company_title, :class => "other_text_spec" %>
          </div>
          <div>
            <%= p.label "Years in the company", :class => "long_label_spec" %>
            <%= p.number_field :years_in_company, in: 0..100, step: 1, :class => "number_field_spec" %> &nbsp &nbsp
            &nbsp     
            <%= p.label "Number of direct subordinates", :class => "long_label_spec" %>
            <%= p.number_field :number_subordinates, in: 0..100, step: 1, :class => "number_field_spec" %>      
          </div>
          <br/>
          <br/>
          <hr>
        </div>    

        <h3 class="myform">6. About the company</h3>
        <div class="container", style="width: 70%; margin-left: 30%">
          <div>
            <%= p.label "Sector:", :class => "label_spec"%>
            <%= p.select :company_sector, options_for_select([@profile.company_sector, '-----------',
            'Advertising & Marketing',
            'Agriculture',
            'Airlines & Aerospace (including Defense)',
            'Automotive',
            'Business Support & Logistics',
            'Construction, Machinery and Homes',
            'Education',
            'Entertainment & Leisure',
            'Finance & Financial Services',
            'Food & Beverages',
            'Government',
            'Health Care & Pharmaceuticals',
            'Insurance',
            'Manufacturing',
            'Nonprofit',
            'Retail & Consumer Durables',
            'Real Estate',
            'Telecommunications, Technology, Internet & Electronics',
            'Utilities, Energy, and Extraction' ]) %> 
            <br>


            </div> 
            <div>
            <%= p.label "Job Function:", :class => "label_spec"%>
            <%= p.select :company_job_function, options_for_select([@profile.company_job_function, '-----------',
              'Accounting/Auditing',
              'Administrative',
              'Advertising/Marketing',
              'Analyst',
              'Art/Creative/Design',
              'Business Development',
              'Consulting',
              'Construction',
              'Customer Service',
              'Distribution',
              'Doctor',
              'Educator (e.g. teacher, lecturer, professor)',
              'Engineering',
              'Finance',
              'General Business',
              'Health Care Provider (other than doctor or nurse)',
              'Human Resources',
              'Information Technology',
              'Legal',
              'Management',
              'Manufacturing',
              'Nurse',
              'Production',
              'Product Management',
              'Project Management',
              'Public Relations',
              'Purchasing',
              'Quality Assurance',
              'Research',
              'Sales',
              'Science',
              'Strategy/Planning',
              'Supply Chain',
              'Training',
              'Writing' ]) %> 
            <br>

            </div> 
            <div>
              <%= p.label "Nationality", :class => "label_spec"%>
              <%= p.select :company_nation, options_for_select([@profile.company_nation, '-----------',
                'National',
                'Portuguese multinational',
                'Foreign operating in home country',
                'Foreign multinational' ]) %> 
            <br>
              
            </div>  
            <br/>
            <hr>
          </div>

          <h3 class="myform">7. Job Level</h3>
          <div class="container", style="width: 70%; margin-left: 30%">
            <table>
              <tr class="list_line_odd">
                  <th class="table_collumn_spec">            
                  </th>
                  </th>
                  <th class="table_collumn_spec">
                    Your job level
                  </th>
                  <th class="table_collumn_spec">
                    Level you report to
                  </th>
                </tr>
                <tr class="list_line_even">
                  <th class="table_text">
                    Entry Level <br> <small> Little or no prior working experience; recent college graduate. </small>           
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :job_level, "Entry Level" %>            
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :reporting_level, "Entry Level" %>            
                  </th>
                </tr>
                <tr class="list_line_odd">
                  <th class="table_text">
                    Intermediate Level  <br> <small> Proficiency with entry­ level job functions and responsibilities; can teach these skills
                    to others. Is able to work without constant supervision and can take on responsibility for specific projects
                    or tasks or/and supervisory responsibility for other intermediate or entry­level employees </small>
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :job_level, "Intermediate Level" %>            
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :reporting_level, "Intermediate Level" %>            
                  </th>
                </tr>
                <tr class="list_line_even">
                  <th class="table_text">
                    Middle Management (first managerial level in the corporate structure) <br> <small> Oversee intermediate and entry­level
                    employees, as well as take on responsibility for department objectives and goals.</small>
                  </th>                                  
                  <th class="table_check_box">
                    <%= p.radio_button :job_level, "Middle Management" %>            
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :reporting_level, "Middle Management" %>            
                  </th>
                </tr>
                <tr class="list_line_odd">
                  <th class="table_text">
                    Upper Management Level <br> <small> Extensive experience and education in their field, as well as experience managing others.
                    Oversee divisions, departments or specific functions within the corporate structure and delegate responsibilities
                    to middle managers. </small>
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :job_level, "Upper Management Level" %>            
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :reporting_level, "Upper Management Level" %>            
                  </th>
                </tr>
                <tr class="list_line_even">
                  <th class="table_text">
                    Executive Level (Vice President, officers or department chiefs) <br> <small> Highly skilled and experienced employees, with
                    macro management and strategic responsabilities. </small>
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :job_level, "Executive Level" %>            
                  </th>
                  <th class="table_check_box">
                    <%= p.radio_button :reporting_level, "Executive Level" %>            
                  </th>
                </tr>        
            </table>
            <br/>
          </div>

          <div style="text-align: center; margin-top: 5%; margin-bottom: 5%;">    
            <a class="btn btn-primary" style="width: 10%; margin-left: 1%;" onclick='nextTab()'>Next</a>
          </div> 
        </div>