<div>
  <h3 class="myform">23. Description of the ideal mentor: function & sector</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <h5> Option 1</h5>
    <div>
      <p>
      <%= p.label "Function", :class => "shorter_label_spec"%> &nbsp;&nbsp;&nbsp;
      <%= p.text_field :ideal_mentor_function_1, :class => "short_text_field_spec" %>&nbsp;&nbsp;&nbsp;
      <%= p.label "Sector", :class => "shorter_label_spec"%> 
      <%= p.text_field :ideal_mentor_sector_1, :class => "short_text_field_spec" %>
      </p>
    </div>
    <h5> Option 2</h5>
    <div>
      <p>
      <%= p.label "Function", :class => "shorter_label_spec"%> &nbsp;&nbsp;&nbsp;
      <%= p.text_field :ideal_mentor_function_2, :class => "short_text_field_spec" %>&nbsp;&nbsp;&nbsp;
      <%= p.label "Sector", :class => "shorter_label_spec"%>
      <%= p.text_field :ideal_mentor_sector_2, :class => "short_text_field_spec" %>
      </p>
    </div>
    <h5> Option 3</h5> 
    <div>
      <p>
      <%= p.label "Function ", :class => "shorter_label_spec"%> &nbsp;&nbsp;&nbsp;
      <%= p.text_field :ideal_mentor_function_3, :class => "short_text_field_spec" %>&nbsp;&nbsp;&nbsp;
      <%= p.label "Sector", :class => "shorter_label_spec"%>
      <%= p.text_field :ideal_mentor_sector_3, :class => "short_text_field_spec" %>
      </p>
    </div>
      <div>
      <%= p.label "Other (please specify)"%>
      <%= p.text_field :ideal_mentor_func_sec_other, :class => "text_field_spec" %>
    </div>  
    <br/>
    <hr>
  </div>
  
  <h3 class="myform">24. Description of the ideal mentor: strengths</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.label "1", :class => "mini_label_spec"%>
      <%= p.text_field :ideal_mentor_strength_1, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "2", :class => "mini_label_spec"%>
      <%= p.text_field :ideal_mentor_strength_2, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "3", :class => "mini_label_spec"%>
      <%= p.text_field :ideal_mentor_strength_3, :class => "text_field_spec" %>
    </div>
    <br/>
    <hr>
  </div>
  
  <h3 class="myform">25. Description of the ideal mentor: <br> interests and personal characteristics</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <%= p.text_area :ideal_mentor_interests, :size => "70x8" %>
    <br/>
    <br/>
    <hr>
  </div>
  
  <h3 class="myform">26. What role do you want the mentor to play? </br><small> (e.g. act as sounding board, provide developmental feedback, share experiences, connect with relevant people, ...) </small></h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <%= p.text_area :ideal_mentor_role, :size => "70x8" %>
    <br/>
    <br/>
    <hr>
  </div>
  
  <h3 class="myform">27. Gender preference</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.radio_button :mentor_gender_preference, "Woman" %>
      <%= p.label "Woman" %>
    </div>
    <div>
      <%= p.radio_button :mentor_gender_preference, "Man" %>
      <%= p.label "Man" %>
    </div>
    <div>
      <%= p.radio_button :mentor_gender_preference, "Indiferent" %>
      <%= p.label "Indiferent" %>
    </div>
    <br/>
    <hr>
  </div>
  
  <h3 class="myform">28. Mentor referrals <br>
  <small>(Names of persons that you would like to see as mentors within the PWN Mentoring Program) </small>
  </h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.label "1", :class => "mini_label_spec"%>
      <%= p.text_field :mentor_referral_1, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "2", :class => "mini_label_spec"%>
      <%= p.text_field :mentor_referral_2, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "3", :class => "mini_label_spec"%>
      <%= p.text_field :mentor_referral_3, :class => "text_field_spec" %>
    </div>  
    <br/>
  </div>
  
  <div style="text-align: center; margin-top: 5%; margin-bottom: 5%;">
    <a class="btn btn-primary" style="width: 10%; margin-right: 1%;" onclick='previousTab()'>Previous</a>
    <a class="btn btn-primary" style="width: 10%; margin-left: 1%;" onclick='nextTab()'>Next</a>
  </div>
</div>
