<div>
  <h3 class="myform"> 10. Availability for training <br>
    <small> We will hold 4 trainings/get-togethers during the year, on a week day, excluding friday   </small>
  </h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.check_box :availability_8, {}, "Available", "Unavailable" %>
      <%= p.label "8:30­ - 10:30" %>
    </div>
    <div>
      <%= p.check_box :availability_12, {}, "Available", "Unavailable" %>
      <%= p.label "12:30­ - 14:30" %>
    </div>
    <div>
      <%= p.check_box :availability_18, {}, "Available", "Unavailable" %>
      <%= p.label "18:00 - ­20:30" %>
    </div>
    <div>
      <%= p.check_box :availability_no, {}, "Yes", "No" %>
      <%= p.label "None" %>
    </div>
    <br/>
    <hr>
  </div>

  <h3 class="myform">11. Availability for networking meetings</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.check_box :availability_monthly_breakfasts, {}, "Available", "Unavailable" %>
      <%= p.label "PWN monthly breakfast (first tuesday of the month, 8:30­ - 10:00 in Lisbon)", :class => "long_option" %>
    </div>
    <% if current_user.type == "Mentee" %>
      <div>
        <%= p.check_box :availability_buddy_contacts, {}, "Available", "Unavailable" %>
        <%= p.label "Mentee buddy contacts (once a month, online or face­-to­-face)", :class => "long_option" %>
      </div>
    <% end %>
    <div>
      <%= p.check_box :availability_networking_no, {}, "Yes", "No" %>
      <%= p.label "None" %>
    </div>
    <br/>
    <hr>    
  </div>

  <h3 class="myform">12. Availability Observations <br> 
    Please note any preferences or constraints you would like us to be aware of in terms of schedule, meeting frequency, location, language etc.
  </h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <%= p.text_area :availability_obs, :size => "70x8" %>
    <br/>
    <br/>
    <hr>
  </div>

  <h3 class="myform">13. Sharing information <br> 
     The PWN Lisbon Mentoring Program promotes networking among participants in the program.
      <br> Participation in the program entails sharing contact details with other participants and alumni of the program and allowing for photos of the events to be used to promote the program. We would also ask you permission for:</h3>
    
    <br>
    <br>
    <div class="container", style="width: 70%; margin-left: 30%">
      <div>
        <%= p.check_box :permission_benchmarking, {}, "Yes", "No"%>
        <%= p.label "I allow my basic demographic data and contacts to be shared with fellow international mentoring programs for benchmarking purposes only.", :class => "long_2lines_option" %>
      </div>
      <div>
        <%= p.check_box :permission_promoting, {}, "Yes", "No" %>
        <%= p.label "I allow my contacts to be shared with interested reporters to help promote the program.", :class => "long_option" %>
      </div>
      <br/>
      <div>
        <%= p.label "Other (please specify)"%>
        <%= p.text_field :permission_other, :class => "text_field_spec" %>
      </div>
    </div>



    <div style="text-align: center; margin-top: 5%; margin-bottom: 5%;">
      <a class="btn btn-primary" style="width: 10%; margin-right: 1%;" onclick='previousTab()'>Previous</a>
      <a class="btn btn-primary" style="width: 10%; margin-left: 1%;" onclick='nextTab()'>Next</a>
    </div>  
  </div> 