<div>
  <% if current_user.type == "Mentee" %>
    <h3 class="myform">30. How did you hear about the PWN Lisbon Mentoring Program?</h3>
  <% end %>
  <% if current_user.type == "Mentor" %>
    <h3 class="myform">24. How did you hear about the PWN Lisbon Mentoring Program?</h3>
  <% end %>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.check_box :heard_about_program_from_epwn, {}, "Yes", "No" %>
      <%= p.label "PWN communication and events" %>
    </div>
    <div>
      <%= p.check_box :heard_about_program_from_previous_participant, {}, "Yes", "No" %>
      <%= p.label "From a participant in a previous edition of the program" %>
    </div>
    <div>
      <%= p.check_box :heard_about_program_from_epwn_member, {}, "Yes", "No" %>
      <%= p.label "From a PWN member" %>
    </div>
    <div>
      <%= p.check_box :heard_about_program_from_company, {}, "Yes", "No" %>
      <%= p.label "From my company" %>
    </div>
    <div>
      <%= p.check_box :heard_about_program_in_the_press, {}, "Yes", "No" %>
      <%= p.label "In the press" %>
    </div>
    <div>
      <%= p.label "Other (please specify)" %>
      <br/>
      <%= p.text_field :heard_about_program_from_other_specified, :class => "text_field_spec" %>
    </div>
    <br/>
    <hr>
  </div>

  <% if current_user.type == "Mentee" %>
    <div class="container", style="width: 70%; margin-left: 30%; margin-top: 10%">
      <div>
        <%= p.check_box :mentee_fee_aware, {}, "Yes", "No" %>
        <%= p.label "I am aware that there is a 75€ mentoring program fee for administrative expenses and that I have to become a PWN member upon being accepted" %>
      </div>
      <br/>
      <br/>
    </div>
    
    <div class="container", style="width: 70%; margin-left: 30%; margin-top: 10%">
      <div>
        <%= p.check_box :mentoring_contract_aware, {}, "Yes", "No" %>
        <%= p.label "I have read and accepted the mentoring contract" %>   
        <a target="_blank" href="/mentoringcontract.pdf"><u><b> Mentoring Contract </b></u></a>
      </div>
      <br/>
      <br/>
    </div>
  <% end %>
 
  <div style="text-align: center; margin-top: 5%; margin-bottom: 5%;">    
    <div id="formsubmitbutton">
      <a class="btn btn-primary" style="width: 10%; margin-right: 1%;" onclick='previousTab()'>Previous</a>
      <%= p.submit "Save Changes", :class => "btn btn-primary", :style => "width: 11%; margin-left: 1%;", :onclick => 'ButtonClicked()' %>
    </div>
    <div id="buttonreplacement" style="margin-left:30px; display:none;">      
      <%= image_tag ("preload.gif") %>
    </div>
  </div>

  <script type="text/javascript">
    function ButtonClicked() {
      document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay
      document.getElementById("buttonreplacement").style.display = ""; // to display
      return true;
    }
    var FirstLoading = true;
    function RestoreSubmitButton() {
      if( FirstLoading ) {
        FirstLoading = false;
        return;
      }
      document.getElementById("formsubmitbutton").style.display = ""; // to display
      document.getElementById("buttonreplacement").style.display = "none"; // to undisplay
    }
    // To disable restoring submit button, disable or delete next line.
    document.onfocus = RestoreSubmitButton;
  </script>
 
</div>