<div>
  <h3 class="myform">20. Imagining myself today and in 3 (or 5 or 10) years: Who do I want to be?</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <%= p.text_area :aspirations, :size => "70x8" %>
    <br/>
    <br/>
  </div>
  
  <h3 class="myform">21. Imagining myself today and in 3 (or 5 or 10) years: What do I want to be known for?</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <%= p.text_area :want_to_be_known_for, :size => "70x8" %>
    <br/>
    <br/>
  </div>
  
  <h3 class="myform">22. Based on the answers to the last questions what are the areas in which I seek a mentor</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.check_box :seeks_mentoring_in_career_orientation, {}, "Yes", "No" %>
      <%= p.label "Career Orientation" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_career_transition, {}, "Yes", "No" %>
      <%= p.label "Career Transition" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_change_management, {}, "Yes", "No" %>
      <%= p.label "Change Management" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_conflict_management, {}, "Yes", "No" %>
      <%= p.label "Conflict Management" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_corporate_communication, {}, "Yes", "No" %>
      <%= p.label "Corporate Communication" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_cross_cultural_communication, {}, "Yes", "No" %>
      <%= p.label "Cross­-Cultural Communication" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_cross_cultural_working_practices, {}, "Yes", "No" %>
      <%= p.label "Cross­-Cultural Working Practices" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_entreperneurship, {}, "Yes", "No" %>
      <%= p.label "Entrepreneurship" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_goal_setting_and_advancement, {}, "Yes", "No" %>
      <%= p.label "Goal Setting and Advancement" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_leadership_development, {}, "Yes", "No" %>
      <%= p.label "Leadership Development" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_optimal_use_of_a_network, {}, "Yes", "No" %>
      <%= p.label "Optimal Use of a Network" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_people_management, {}, "Yes", "No" %>
      <%= p.label "People Management" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_political_acumen, {}, "Yes", "No" %>
      <%= p.label "Political Acumen" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_reintegration_and_work_immersion, {}, "Yes", "No" %>
      <%= p.label "Reintegration and Work Immersion" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_strategic_thinking, {}, "Yes", "No" %>
      <%= p.label "Strategic Thinking" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_time_management, {}, "Yes", "No" %>
      <%= p.label "Time Management" %>
    </div>
    <div>
      <%= p.check_box :seeks_mentoring_in_work_life_balance, {}, "Yes", "No" %>
      <%= p.label "Work Life Balance" %>
    </div>
    <div>
      <%= p.label "Other (please specify)"%>
      <br/>
      <%= p.text_field :seeks_mentoring_in_other_specified, :class => "text_field_spec" %>
    </div>
    <br/>
  </div>
  
  <h3 class="myform">23. The goals that I want to achieve are:</h3>
  <div class="container", style="width: 70%; margin-left: 30%">
    <div>
      <%= p.label "Goal 1", :class => "short_label_spec"%>
      <%= p.text_field :goal_1, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "Goal 2", :class => "short_label_spec"%>
      <%= p.text_field :goal_2, :class => "text_field_spec" %>
    </div>
    <div>
      <%= p.label "Goal 3", :class => "short_label_spec"%>
      <%= p.text_field :goal_3, :class => "text_field_spec" %>
    </div>  
    <br/>
  </div>
  
  <div style="text-align: center; margin-top: 5%; margin-bottom: 5%;">
    <a class="btn btn-primary" style="width: 10%; margin-right: 1%;" onclick='previousTab()'>Previous</a>
    <a class="btn btn-primary" style="width: 10%; margin-left: 1%;" onclick='nextTab()'>Next</a>
  </div>
</div>
