<div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>


          <div><b>Name:</b> <%= @user.firstName %>
          </div>
	  <div><b>Surname(s):</b> <%= @user.lastName %>
          </div>
          <div><b>Email:</b> <%= @user.email %>
          </div>
          <div><b>Skype:</b> <%= @profile.skype_name %>
          </div>
          <div><b>Phone: </b> <%= @profile.phone_number %>
          </div>
          <div><b>From: </b> 
          <% @origin = Carmen::Country.coded(@profile.country_origin) %>
          <%= @origin.name %>
          </div>
          <div><b>Living in: </b> 
          <% @residence = Carmen::Country.coded(@profile.country_residence) %>
          <% @city = @residence.subregions.coded(@profile.city) %> 
          <%= @city.name %> , <%= @residence.name %>
          </div>
          <div><b>Marital Status: </b> <%= @profile.marital_status %>
          </div>
          
          <div><b>CV: </b><a target="_blank" href="<%= @profile.cv.url %> "><b> Resumé attached </b></a>
          </div>
          
          
          
</div>
