<script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap.js"></script>
<div class="col-md-9 personal-info">

    <% if @profile.percentage.floor.to_i < 100 && !@profile.submitted %>
      <div class="alert alert-warning alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <strong>Warning:</strong> You can only <strong>submit</strong> your application when it is complete.
      </div>
    <% end %>
    <% if @profile.percentage.floor.to_i == 100 && !@profile.submitted %>
      <div class="alert alert-success">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        Your application is now complete. You can now <strong>submit</strong> it.
      </div>
    <% end %>
    <% if @profile.submitted && @profile.percentage.floor.to_i == 100%>
      <div class="alert alert-success">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        Your application has been submitted. Thank you!
      </div>
    <% end %>

       <p> <h2> Your Application</h2>
       <% if !@profile.submitted %>
        <div align="right">
          <%= link_to '<button type="button" class="btn btn-primary btn"><span  class="glyphicon glyphicon-pencil"></span> <b> Edit Application</b></button>'.html_safe, edit_profile_path(@profile.id)  %>
        </div> </p>
        <% end %>


   <% if @profile.percentage.floor.to_i == 100 && !@profile.submitted %>
      <div align= "right" >    
        <a class="btn btn-primary" style="background-color: green;" data-toggle="modal" data-target="#myModal"><span  class="glyphicon glyphicon-send"></span>  &nbsp; Submit Application</a>
      </div>
    <% end %>

    <div class="panel-body">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" id="panel1">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-target="#aboutmyself" 
              href="#aboutmyself">
              About Myself
              </a>
            </h4>
          </div>
        
          <div id="aboutmyself" class="panel-collapse collapse in">
            <%= render 'profiles/showAboutMyself' %>   
          </div>
        </div>
      </div>
  
      <div class="panel panel-default" id="panel2">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#PWNandAvailability" 
            href="#PWNandAvailability" class="collapsed">
            PWN, Mentoring and Availability
            </a>
          </h4>
        </div>
    
        <div id="PWNandAvailability" class="panel-collapse collapse">
          <%= render 'profiles/showPWNandAvailability' %>
        </div>
      </div>
      
      <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#DescriptionandInterest"
            href="#DescriptionandInterest" class="collapsed">
            Description of Myself and my Interest in the Program
            </a>
          </h4>
        </div>
        
        <div id="DescriptionandInterest" class="panel-collapse collapse">
          <%= render 'profiles/showDescriptionandInterest' %>
        </div>
      </div>
      
      <div class="panel panel-default" id="panel4">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#MentorandInstitutional"
            href="#MentorandInstitutional" class="collapsed">
            About the Mentor, My Company Support and Other
            </a>
          </h4>
        </div>

        <div id="MentorandInstitutional" class="panel-collapse collapse">
          <%= render 'profiles/showMentorSupportandFinal' %>
        </div>
      </div>
      
      
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h3 class="modal-title" id="myModalLabel">Application Submission</h3>
            </div>
            <div class="modal-body" style="text-align: center">
              Are you sure you want to submit your application?
            </div>
            <div class="modal-footer">
              <div style="text-align: center; margin-top: 2%; margin-bottom: 2%;"> 
                <%= link_to '<button type="button" class="btn btn-primary" style="background-color: green;">Yes </button>'.html_safe, profile_path(@profile.id, :format => :pdf), target: '_blank', :onclick =>"location.href='/user';" %>               
                 
                <a class="btn btn-primary" style="width: 10%; margin-left: 1%; background-color: red;" data-dismiss="modal">No</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
    </div>
  </div>

