<div class="panel-body">

  <div>Description of my career: 
  <b><%= @profile.career_description %></b>
  </div>

  <div>My Strengths:
  <ol>
  <li><b><%= @profile.strengh_1 %></b></li>
  <li><b><%= @profile.strengh_2 %></b></li>
  <li><b><%= @profile.strengh_3 %></b></li>
  </ol>
  </div>

  <div>Interests and characteristics that describe me best:  
  <b><%= @profile.interests_and_characteristics %></b>
  </div>


<hr>
  
  <div>Motivations to be on the PWN Mentoring program:  
  <b><%= @profile.motivations %></b>
  </div>

  <div>My Goals in participation on the Mentoring program:
  <ol>
  <li><b><%= @profile.goal_1 %></b></li>
  <li><b><%= @profile.goal_2 %></b></li>
  <li><b><%= @profile.goal_3 %></b></li>
  </ol>
  </div>

  <div>Who do I want to be:  
  <b><%= @profile.aspirations %></b>
  </div>

  <div>What do I want to be known for:  
  <b><%= @profile.want_to_be_known_for %></b>
  </div>

  <div>Main area in which I seek a mentor:  
  
  </div>
 
  

</div>