<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <h2 style="text-align:left; color: gray">PWN LISBON Mentoring Program 2015 <br>
    <% if @user.type == "Mentor" %> Mentor <% else %> Mentee <%end%> Application </h2> 

    <div style="width: 100%; overflow: hidden; line-height: 2">
    <div style="width: 70%; float: left"> 
      <h1>
        <b> <%= @profile.firstName %> <%= @profile.surnames %> </b>
      </h1>

      <p>
        Email: <b><%= @profile.email %></b> <br>
        Phone: <b><%= @profile.phone_number %></b> <br>
        <% if @profile.skype_name.present? %> Skype: <b><%= @profile.skype_name %></b> <br> <% end %>
        <% if @profile.linkedin_profile.present? %> Linkedin: <b><%= @profile.linkedin_profile %></b> <br><% end %>
        <hr>
        Age: <b><%= @profile.age %></b> <% if @user.type == "Mentor" %> &emsp;&emsp;&emsp;&emsp; Sex: <b><%= @profile.sex %></b> <%end%><br>
        From: <% @origin = Carmen::Country.coded(@profile.country_origin) %> <b><%= @origin.name %></b>&emsp;&emsp;&emsp;&emsp;
        Living in:  <% @residence = Carmen::Country.coded(@profile.country_residence) %>
                    <% @city = @residence.subregions.coded(@profile.city) %> 
                    <b>&nbsp;<%= @city.name %>, &nbsp;&nbsp;<%= @residence.name %></b> <br>

        Marital status: <b><%= @profile.marital_status %></b> &emsp;&emsp;&emsp;&emsp; 
        Number of children: <b><%= @profile.number_children %></b> <br>
        <hr>

        Main area of studies: <b><%= @profile.main_area %></b> <br>
        Highest Academic title: <b><%= @profile.highest_academic %></b> <br>
        Country of Main Studies: <% @studycountry = Carmen::Country.coded(@profile.study_country) %> <b><%= @studycountry.name %></b> <br>
        <% if @profile.studies_other.present? %> Country of Main Studies Other:  <b><%= @profile.studies_other %></b> <br> <% end %> 
        <hr>
        Years of Professional Experience: <b><%= @profile.years_experience %></b> <br>
        International Experience:  <b><%= @profile.international_experience %></b> <br>
        <hr>
        Company: <b><%= @profile.company %></b> <br>
         <% if @profile.company_other.present? %> Company Other: <b><%= @profile.company_other %></b>  <br> <% end %>
        Job Title: <b><%= @profile.company_title %></b> <br>
        Years in the company: <b><%= @profile.years_in_company %></b> &emsp;&emsp;&emsp;&emsp;
        Number of direct subordinates: <b><%= @profile.number_subordinates %></b> <br>
        Job Function: <b><%= @profile.company_job_function %></b>  <br>
        Sector: <b><%= @profile.company_sector %></b> <br>
        Nationality: <b><%= @profile.company_nation %></b> <br>    
        Job Level: <b><%= @profile.job_level %></b> &emsp;&emsp;
        Level you report to: <b><%= @profile.reporting_level %></b> <br>
        <hr>
      </p>
      </div>
    <div style="margin-left: 40%; margin-top: 5%">
    <%= image_tag @profile.picture_url, :width => 150 %> </div>

  </div>
  

    <div style="line-height: 2">
      <p>
        Member of PWN: <b><%= @profile.member %></b> 
        <% if @profile.member == "Yes" %> <% if @profile.member_years.present? %> ,for: <b><%= @profile.member_years %></b> years <% end %><% end %> <br>
        Participated in Mentoring Program before: <b><%= @profile.previous_participation %></b> <br>
        <% if @profile.previous_participation_other.present? %> More specifically: <b><%= @profile.previous_participation_other %></b> <% end %> <br>
        Availability for Trainings:
        <ul>
         <% if @profile.availability_8 == "Available" %>
         <li><b> 8h30-10h30 </b></li>
         <% end %>
         <% if @profile.availability_12 == "Available" %>
         <li><b> 12h30-14h30 </b></li>
         <% end %>
         <% if @profile.availability_18 == "Available" %>
         <li><b> 18h00-20h30 </b></li>
         <% end %>
         <% if @profile.availability_no == "Yes" %>
         <li><b> None </b></li>
         <% end %>
        </ul>
        <% if @profile.availability_monthly_breakfasts == "Available" or @profile.availability_buddy_contacts== "Available" %>
        Availability for other events:
          <ul>
            <% if @profile.availability_monthly_breakfasts == "Available" %>
            <li>
              <b> Monthly Breakfasts </b>
            </li>
            <% end %>
            <% if @profile.availability_buddy_contacts == "Available" %>
            <li>
              <b> Mentee buddy contacts </b> 
            </li>
            <% end %>
          </ul>
        <% else %>
        <% if @profile.availability_networking_no == "Yes" %>
        <b> No availability for other events. </b> <br>
        <% end %>
        <% end %>
        <% if @profile.availability_obs.present? %> Availability Observations:  <b><%= @profile.availability_obs %></b> <% end%> <br>
        <hr>
        Given Permissions: 
        <ul>
        <li> Permission for your basic demographic data and contacts to be shared with fellow international mentoring programs for benchmarking 
        purposes only: <b><%= @profile.permission_benchmarking %></b> </li> 
        <li> Permission for your contacts to be shared with interested reporters to help promote the program: <b><%= @profile.permission_promoting %></b></li>
        <% if @profile.permission_other.present? %> <li> Observations:  <b><%= @profile.permission_other %></b> </li> <% end %> 
        </ul>
        <hr>
        Description of my career: <br><b><%= @profile.career_description %></b> <br><br>
        <br>
        My Strengths:
        <ol>
        <li><b><%= @profile.strengh_1 %></b></li>
        <li><b><%= @profile.strengh_2%></b></li>
        <li><b><%= @profile.strengh_3 %></b></li>
        </ol>
        Interests and characteristics that describe me best: <br><b><%= @profile.interests_and_characteristics %></b> <br><br>

        <hr>

        Motivations to be on the PWN Mentoring program:<br> <b><%= @profile.motivations %></b> <br><br>
        <% if @user.type == "Mentee" %>
        My Goals in participation on the Mentoring program:
        <ol>
        <li><b><%= @profile.goal_1 %></b></li>
        <li><b><%= @profile.goal_2 %></b></li>
        <li><b><%= @profile.goal_3 %></b></li>
        </ol>
        <% end %>
       
        <% if @user.type == "Mentee" %>
        Who do I want to be:
        <% else %>
        What I would like to get from my participation as a Mentor:
        <% end %>
        <br> <b><%= @profile.aspirations %></b> <br><br>



        <% if @user.type == "Mentee" %> 
        What do I want to be known for:<br> <b><%= @profile.want_to_be_known_for %></b> <br><br> <% end %>

        <% if @user.type == "Mentee" %> 
        Main area in which I seek a mentor:
        <% else %>
        Main area I would like to mentor:
        <% end %>
        <b><%= @profile.mentoring_in %></b> <br>
        <% if @profile.mentoring_in_other_one.present? %> Other: <b><%= @profile.mentoring_in_other_one %></b> <% end %> <br>
        
        <% if @user.type == "Mentee" %>
        Specific areas in which I seek a mentor:
        <% else %>
        Specific areas which I would like to mentor:
        <% end %>
        <ul>
          <% if @profile.mentoring_in_leadership == "Yes" %><li> <b>Leadership Development</b></li> <% end %>
          <% if @profile.mentoring_in_change_mng == "Yes" %><li> <b>Change Management</b></li> <% end %>
          <% if @profile.mentoring_in_conflict == "Yes" %><li> <b>Conflict management</b></li> <% end %>
          <% if @profile.mentoring_in_people == "Yes" %><li> <b>People Management</b></li> <% end %>
          <% if @profile.mentoring_in_political == "Yes" %><li> <b>Political acumen</b></li> <% end %>
          <% if @profile.mentoring_in_strategic == "Yes" %><li> <b>Strategic Thinking</b></li> <% end %>
          <% if @profile.mentoring_in_cross_cultural == "Yes" %><li> <b>Cross­-Cultural Working Practices</b></li> <% end %>
          <% if @profile.mentoring_in_networking == "Yes" %><li> <b>Networking</b></li> <% end %>
        </ul>
        <% if @profile.mentoring_in_other_two.present? %> Other: <b><%= @profile.mentoring_in_other_two %></b> <% end %> <br>

        <% if @user.type == "Mentee" %>
        Description of the ideal mentor:
        <br><small> Options:</small>
        <ol>
          <li>Function: <b><%= @profile.ideal_mentor_function_1 %></b>&emsp;&emsp;&emsp;&emsp;  Sector: <b><%= @profile.ideal_mentor_sector_1 %> </b></li>
          <li>Function: <b><%= @profile.ideal_mentor_function_2 %></b>&emsp;&emsp;&emsp;&emsp;  Sector: <b><%= @profile.ideal_mentor_sector_2 %> </b></li>
          <li>Function: <b><%= @profile.ideal_mentor_function_3 %> </b>&emsp;&emsp;&emsp;&emsp; Sector: <b><%= @profile.ideal_mentor_sector_3 %> </b></li>
        </ol>
        <% if @profile.ideal_mentor_func_sec_other.present? %> Other:<b><%= @profile.ideal_mentor_func_sec_other %></b> <br> <% end %> 
        Ideal Mentor strengths:
        <ol>
        <li><b><%= @profile.ideal_mentor_strength_1 %></b></li>
        <li><b><%= @profile.ideal_mentor_strength_2 %></b></li>
        <li><b><%= @profile.ideal_mentor_strength_3 %></b></li>
        </ol>
        Roles I would like my mentor to play:
        <b><%= @profile.ideal_mentor_role %></b> <br>  
        <% else %>
        Roles I would like to play as a mentor:
        <ul>
        <% if @profile.act_as_sounding_board == "Yes" %> <li><b>Act as sounding board</b></li><% end %>
        <% if @profile.provide_developmental_feedback == "Yes" %> <li><b>Provide developmental feedback</b></li><% end %>
        <% if @profile.share_experiences == "Yes" %> <li><b>Share experiences</b></li><% end %>
        <% if @profile.connect_with_relevant_people == "Yes" %> <li><b>Connect with relevant people</b></li><% end %>
        </ul>
        <% end %> 
        <% if @profile.mentor_preferred_role.present? %> Other:<b><%= @profile.mentor_preferred_role %></b> <br> <% end %>
        <% if @user.type == "Mentee" %> 
        Mentor gender preference: <b><%= @profile.mentor_gender_preference %></b> 
        
        <% if @profile.mentor_referral_1.present? or @profile.mentor_referral_2.present? or @profile.mentor_referral_3.present? %> 
        <hr>
        Mentor referrals:
        <ol>
        <% if @profile.mentor_referral_1.present? %> <li><b> <%= @profile.mentor_referral_1 %></b></li> <% end %>
        <% if @profile.mentor_referral_2.present? %><li><b><%= @profile.mentor_referral_2 %></b></li><% end %>
        <% if @profile.mentor_referral_3.present? %><li><b><%= @profile.mentor_referral_3 %></b></li><% end %>
        </ol>
        <% end %>
        <% end %>
        <hr>
        How your company supports your envolvement in this program:  
        <ul>
        <% if @profile.company_is_not_aware == "Yes" %> <li><b>I am doing this program privately and have not mentioned it to my company.</b></li><% end %>
        <% if @profile.company_is_aware == "Yes" %> <li><b>My company is aware I am doing this program.</b></li><% end %>
        <% if @profile.company_suggested == "Yes" %> <li><b>My company suggested I participate in this program.</b></li><% end %>
        <% if @profile.company_is_sponsor == "Yes" %> <li><b>My company sponsors PWN Lisbon and my mentoring program and/or membership fees are included in the sponsorship agreement.</b></li><% end %>
        <% if @profile.company_supports == "Yes" %> <li><b>My company pays the mentoring program fee and/or membership fees, but is not a PWN Lisbon sponsor.</b></li><% end %>
        </ul>
        <% if @profile.institutional_support_other.present? %> Other:<b><%= @profile.institutional_support_other %></b> <br><% end %>

        <hr>

        <% if @user.type == "Mentor" %>
          Referrals for Mentoring Program:
          <% if !@profile.sugestion_1.present? &&
                  !@profile.sugestion_2.present? &&
                  !@profile.sugestion_3.present? &&
                  !@profile.sugestion_4.present? &&
                  !@profile.sugestion_5.present? &&
                  !@profile.sugestion_6.present? %>
           <b> No referrals. </b>
          <% else %>
          <ol>
            <li><b><%= @profile.sugestion_1 %></b></li>
            <li><b><%= @profile.sugestion_2 %></b></li>
            <li><b><%= @profile.sugestion_3 %></b></li>
            <li><b><%= @profile.sugestion_4 %></b></li>
            <li><b><%= @profile.sugestion_5 %></b></li>
            <li><b><%= @profile.sugestion_6 %></b></li>
            </ol>
          <hr>
          <% end %>
          <% end %>

        How you heard about the PWN Lisbon Mentoring Program:
        <ul>
          <% if @profile.heard_about_program_from_epwn == "Yes" %><li> <b>PWN communication and events.</b></li> <% end %>
          <% if @profile.heard_about_program_from_previous_participant == "Yes" %><li> <b>From a participant in a previous edition of the program.</b></li> <% end %>
          <% if @profile.heard_about_program_from_epwn_member == "Yes" %><li> <b>From a PWN member.</b></li> <% end %>
          <% if @profile.heard_about_program_from_company == "Yes" %><li> <b>From my company.</b></li> <% end %>
          <% if @profile.heard_about_program_in_the_press == "Yes" %><li> <b>In the press</b></li> <% end %>
        </ul>
        <% if @profile.heard_about_program_from_other_specified.present? %> Other:<b><%= @profile.heard_about_program_from_other_specified %></b>  <br> <% end %>
        <hr>

        <% if @user.type == "Mentee" %>
        I am aware that there is a 75€ mentoring program fee for administrative expenses upon being accepted:  <b><%= @profile.mentee_fee_aware %></b> <br>
        
        I have read and accepted the mentoring contract: <b><%= @profile.mentoring_contract_aware %></b> <br>
        <% end %>
      </p>
    </div>

