<script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>

<div class="container">
  <h1>Your Application</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar" style="margin-top: 15px;">       
      </div>
    </div>
      
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
  		<h3>Thank you for taking your time to answer this mentee application form.<br/> 
          This form is an important tool to evaluate your fit with the Lisbon mentoring program and, if
          you are selected for the program, will be essencial to match you with your mentor!<br/><br/></h3>
    </div>
  </div>
    
	<!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
       
    <body>       
      <ul class="nav nav-tabs">
        <li class="active" style="word-wrap: break-word; width: 11%;">
          <a href="#1" data-toggle="tab">About Myself&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#2" data-toggle="tab">EPWN and mentoring</a>
        </li> 
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#3" data-toggle="tab">Availability&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#4" data-toggle="tab">Description of myself</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#5" data-toggle="tab">Mentoring Interest</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#6" data-toggle="tab">Mentoring Relationship</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;;">
          <a href="#7" data-toggle="tab">About the mentor</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;;">
          <a href="#8" data-toggle="tab">Institutional support</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;;">
          <a href="#9" data-toggle="tab">Finalizing your application</a>
        </li>           
      </ul>
      <br/>
              
      <div id="div_register" style="margin-left: 300px">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        
        
        
        <%= form_for @profile do |p| %>
          <%= p.label "Your application is at 0%", :id => "progresstext", :class => "long_label_spec"%>
          <div class="progress progress-striped">
            <div id="progressbar" class="progress-bar" style="width: 0%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          
          <div class="tab-content">
            <%= render :partial => "aboutmyself", :locals => {:p => p} %>  
          	    
      	    <div class="tab-pane fade" id="2">
              <h3>9. Are you a member of EPWN</h3>
        	    <div class="container">
        		  	<div>
          				<%= p.radio_button :member, "Yes" %>
          				<%= p.label "Yes" %>
                </div>
                <div>
          				<%= p.radio_button :member, "Not yet" %>
          				<%= p.label "Not yet" %>
                </div>
        		    <br/>
        	    </div>
        
        	    <h3>10. Have you participated in a mentoring program before?</h3>
        	    <div class="container">
          			<table>
          				<tr class="list_line_odd">
          				    <th class="table_collumn_spec">
          				    	&nbsp; &nbsp; &nbsp;
          				    </th>
          				    <th class="table_collumn_spec">
          				    	As a mentor
          				    </th>
          				    <th class="table_collumn_spec">
          				    	As a mentee
          				    </th>
          			  	</tr>
          			  	<tr class="list_line_even">
          				    <th> &nbsp; Company program &nbsp; &nbsp; </th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_company_program_as_mentor, {}, "Yes", "No" %>
          				    </th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_company_program_as_mentee, {}, "Yes", "No" %>
          				    </th>
          			  	</tr>
          			  	<tr class="list_line_odd">
          				    <th> &nbsp; EPWN program in Lisbon &nbsp; &nbsp;</th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_lisbon_epwn_as_mentor, {}, "Yes", "No" %>
          				    </th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_lisbon_epwn_as_mentee, {}, "Yes", "No" %>
          				    </th>
          			  	</tr>
          			  	<tr class="list_line_even">
          				    <th>&nbsp; EPWN program in another city &nbsp; &nbsp;</th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_europe_epwn_as_mentor, {}, "Yes", "No" %>
          				    </th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_europe_epwn_as_mentee, {}, "Yes", "No" %>
          				    </th>
          			  	</tr>
          			  	<tr class="list_line_odd">
          				    <th>&nbsp; Other &nbsp; &nbsp;</th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_other_as_mentor, {}, "Yes", "No" %>
          				    </th>
          				    <th class="table_check_box">
          				    	<%= p.check_box :participation_other_as_mentee, {}, "Yes", "No" %>
          				    </th>
          			  	</tr>
          			</table>
          			<div>
          				<br/>
          				<%= p.label "Other (please specify)" %>
          		  		<br/>
          		  		<%= p.text_field :participation_other_specified, :class => "text_field_spec" %>
          			</div>
        		    <br/>
        	    </div>
      	    </div>
      	    
      	    <div class="tab-pane fade" id="3" style="">
              <!-- <h3>11. Availability for trainings (We will hold 4 trainings during the year, on a week day, excluding friday)</h3>
        	    <div class="container">
        		  	<div>
          				<%= p.check_box :availability_8 %>
          				<%= p.label "8:30­ - 10:30" %>
          			</div>
          			<div>
          				<%= p.check_box :availability_12 %>
          				<%= p.label "12:30­ - 14:30" %>
          			</div>
          			<div>
          				<%= p.check_box :availability_18 %>
          				<%= p.label "18:00 - ­20:30" %>
          			</div>
        		    <br/>
        	    </div> -->
       	
       	      <span class="question_header">
                11. Availability for trainings
              </span>
              <input type="image" src="/assets/info.png" class="question_header" onclick=" return toggleMe('opt10')" value="Toggle">                  
              <div id="opt10" style="display:none; margin-bottom: 10px;">
                We will hold 4 trainings during the year, on a week day, excluding friday
                <input type="image" src="/assets/minus.png" onclick="return toggleMe('opt10')" value="Toggle">
              </div>
              <div class="container">
                <div>
                  <%= p.check_box :availability_8, {}, "Available", "Unavailable" %>
                  <%= p.label "8:30­ - 10:30" %>
                </div>
                <div>
                  <%= p.check_box :availability_12, {}, "Available", "Unavailable" %>
                  <%= p.label "12:30­ - 14:30" %>
                </div>
                <div>
                  <%= p.check_box :availability_18, {}, "Available", "Unavailable" %>
                  <%= p.label "18:00 - ­20:30" %>
                </div>
                <br/>
              </div>
        	
            	<!-- <h3>12. Availability for networking meetings</h3>
            	<div class="container">
        		  	<div>
          				<%= p.check_box :nationality %>
          				<%= p.label "EPWN monthly breakfast (first tuesday of the month, 8:30­ - 10:00 in Tivoli Lisboa)" %>
          			</div>
          			<div>
          				<%= p.check_box :nationality %>
          				<%= p.label "Mentee buddy contacts (once a month, online or face­to­face)" %>
          			</div>
        		    <br/>
        		  </div> -->
        	
            	<h3>12. Availability for networking meetings</h3>
              <div class="container">
                <div>
                  <%= p.check_box :availability_monthly_breakfasts, {}, "Available", "Unavailable" %>
                  <%= p.label "EPWN monthly breakfast", :class => "long_option" %>
                  <input type="image" src="/assets/info.png" onclick="return toggleMe('opt12.1')" value="Toggle">                  
                  <div id="opt12.1" style="display:none">
                    First tuesday of the month, 8:30­ - 10:00 in Tivoli Lisboa
                    <input type="image" src="/assets/minus.png" onclick="return toggleMe('opt12.1')" value="Toggle">
                  </div>
                </div>
                <div>
                  <%= p.check_box :availability_buddy_contacts, {}, "Available", "Unavailable" %>
                  <%= p.label "Mentee buddy contacts", :class => "long_option" %>
                  <input type="image" src="/assets/info.png" onclick="return toggleMe('opt12.2')" value="Toggle">                  
                  <div id="opt12.2" style="display:none">
                    Once a month, online or face­to­face
                    <input type="image" src="/assets/minus.png" onclick="return toggleMe('opt12.2')" value="Toggle">
                  </div>
                </div>
                <br/>
              </div>
        	
              	<!-- <h3>13. Sharing</h3>
              	<div class="container">
              		<%= form_for @profile do |p| %>
            		  	<div>
            				<%= p.check_box :nationality %>
            				<%= label_tag(:pet_dog, "Do you allow your contacts to be shared with fellow program participants and alumni?") %>
            			</div>
            			<div>
            				<%= p.check_box :nationality %>
            				<%= label_tag(:pet_dog, "Do you allow your basic demographic data and contacts to be shared with fellow international mentoring programs for benchmarking purposes only?") %>
            			</div>
            			<div>
            				<%= p.check_box :nationality %>
            				<%= label_tag(:pet_dog, "Do you allow pictures of you to be used in promotional material about the program?") %>
            			</div>
            		<% end %>
            		<br/>
            	</div> -->
          	
          	</div>
              	
          	<div class="tab-pane fade" id="4" style="">
            	<h3>14. Description of my career</h3>
            	<div class="container">
                <%= p.text_area :career_description, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
            	<h3>15. My strengths</h3>
              <div class="container">
        		  	<div>
        		  		<%= p.label "1", :class => "mini_label_spec"%>
        		  		<%= p.text_field :strengh_1, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "2", :class => "mini_label_spec"%>
        		  		<%= p.text_field :strengh_2, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "3", :class => "mini_label_spec"%>
        		  		<%= p.text_field :strengh_3, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "4", :class => "mini_label_spec"%>
        		  		<%= p.text_field :strengh_4, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "5", :class => "mini_label_spec"%>
        		  		<%= p.text_field :strengh_5, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "6", :class => "mini_label_spec"%>
        		  		<%= p.text_field :strengh_6, :class => "text_field_spec" %>
        		  	</div>		     	
          		  <br/>
              </div>
        	
            	<h3>16. My interests</h3>
            	<div class="container">
          			<%= p.text_area :interests, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
            	<h3>17. Characteristics that describe me best</h3>
            	<div class="container">
          			<%= p.text_area :self_description, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
            </div>
                
            <div class="tab-pane fade" id="5" style="">
            	<h3>18. Motivations to be on EPWN Mentoring program:</h3>
            	<div class="container">
          			<%= p.text_area :motivations, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
            	<h3>19. What I would like to get from my participation as a Mentee:</h3>
            	<div class="container">
          			<%= p.text_area :expectations, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
          	</div>
            	
            <div class="tab-pane fade" id="6" style="">
            	<h3>20. Imagining myself today and in 3 (or 5 or 10) years: Who do I want to be?</h3>
            	<div class="container">
          			<%= p.text_area :aspirations, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
            	<h3>21. Imagining myself today and in 3 (or 5 or 10) years: What do I want to be known for?</h3>
            	<div class="container">
          			<%= p.text_area :want_to_be_known_for, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
              <h3>22. Based on the answers to the last questions what are the areas in which I seek a mentor</h3>
              <div class="container">
        		  	<div>
          				<%= p.check_box :seeks_mentoring_in_career_orientation, {}, "Yes", "No" %>
          				<%= p.label "Career Orientation" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_career_transition, {}, "Yes", "No" %>
          				<%= p.label "Career Transition" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_change_management, {}, "Yes", "No" %>
          				<%= p.label "Change Management" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_conflict_management, {}, "Yes", "No" %>
          				<%= p.label "Conflict Management" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_corporate_communication, {}, "Yes", "No" %>
          				<%= p.label "Corporate Communication" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_cross_cultural_communication, {}, "Yes", "No" %>
          				<%= p.label "Cross­-Cultural Communication" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_cross_cultural_working_practices, {}, "Yes", "No" %>
          				<%= p.label "Cross­-Cultural Working Practices" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_entreperneurship, {}, "Yes", "No" %>
          				<%= p.label "Entrepreneurship" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_goal_setting_and_advancement, {}, "Yes", "No" %>
          				<%= p.label "Goal Setting and Advancement" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_leadership_development, {}, "Yes", "No" %>
          				<%= p.label "Leadership Development" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_optimal_use_of_a_network, {}, "Yes", "No" %>
          				<%= p.label "Optimal Use of a Network" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_people_management, {}, "Yes", "No" %>
          				<%= p.label "People Management" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_political_acumen, {}, "Yes", "No" %>
          				<%= p.label "Political Acumen" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_reintegration_and_work_immersion, {}, "Yes", "No" %>
          				<%= p.label "Reintegration and Work Immersion" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_strategic_thinking, {}, "Yes", "No" %>
          				<%= p.label "Strategic Thinking" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_time_management, {}, "Yes", "No" %>
          				<%= p.label "Time Management" %>
          			</div>
          			<div>
          				<%= p.check_box :seeks_mentoring_in_work_life_balance, {}, "Yes", "No" %>
          				<%= p.label "Work Life Balance" %>
          			</div>
          			<div>
          				<%= p.label "Other (please specify)"%>
          		  		<br/>
          		  		<%= p.text_field :seeks_mentoring_in_other_specified, :class => "text_field_spec" %>
          			</div>
            		<br/>
            	</div>
        	
              <h3>23. The goals that I want to achieve are:</h3>
              <div class="container">
        		  	<div>
        		  		<%= p.label "Goal 1", :class => "short_label_spec"%>
        		  		<%= p.text_field :goal_1, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "Goal 2", :class => "short_label_spec"%>
        		  		<%= p.text_field :goal_2, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "Goal 3", :class => "short_label_spec"%>
        		  		<%= p.text_field :goal_3, :class => "text_field_spec" %>
        		  	</div>		     	
            		<br/>
            	</div>
            </div>
            	
            <div class="tab-pane fade" id="7" style="">
              <h3>24. Description of the ideal mentor: industry & role</h3>
              <div class="container">
        		  	<div>
        		  		<%= p.label "Function", :class => "short_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_function, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "Sector", :class => "short_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_sector, :class => "text_field_spec" %>
        		  	</div>		  	     	
            		<br/>
            	</div>
        	
              <h3>25. Description of the ideal mentor: strengths</h3>
              <div class="container">
        		  	<div>
        		  		<%= p.label "1", :class => "mini_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_strength_1, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "2", :class => "mini_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_strength_2, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "3", :class => "mini_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_strength_3, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "4", :class => "mini_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_strength_4, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "5", :class => "mini_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_strength_5, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "6", :class => "mini_label_spec"%>
        		  		<%= p.text_field :ideal_mentor_strength_6, :class => "text_field_spec" %>
        		  	</div>		     	
            		<br/>
            	</div>
        	
              <h3>26. Description of the ideal mentor: interests</h3>
              <div class="container">
                <%= p.text_area :ideal_mentor_interests, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
            	<h3>27. What role do I want the mentor to play (e.g. act as sounding board, provide developmental feedback, share experiences, connect with relevant people, ...)</h3>
            	<div class="container">
          			<%= p.text_area :ideal_mentor_role, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
              <h3>28. Gender preference</h3>
            	<div class="container">
        		  	<div>
          				<%= p.radio_button :mentor_gender_preference, "Woman" %>
          				<%= p.label "Woman" %>
          			</div>
          			<div>
          				<%= p.radio_button :mentor_gender_preference, "Man" %>
          				<%= p.label "Man" %>
          			</div>
          			<div>
          				<%= p.radio_button :mentor_gender_preference, "No Preference" %>
          				<%= p.label "No preference" %>
          			</div>
            		<br/>
            	</div>
        	
              <h3>29. Mentor referrals</h3>
              <div class="container">
        		  	<div>
        		  		<%= p.label "1", :class => "mini_label_spec"%>
        		  		<%= p.text_field :mental_referral_1, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "2", :class => "mini_label_spec"%>
        		  		<%= p.text_field :mental_referral_2, :class => "text_field_spec" %>
        		  	</div>
        		  	<div>
        		  		<%= p.label "3", :class => "mini_label_spec"%>
        		  		<%= p.text_field :mental_referral_3, :class => "text_field_spec" %>
        		  	</div>		     	
            		<br/>
            	</div>
            </div>
                
            <div class="tab-pane fade" id="8" style="">
            	<h3>30. How does your company support your envolvement in this program?</h3>
            	<div class="container">
        		  	<!-- <div>
          				<%= p.check_box :seeks_mentoring_in_work_life_balance, {}, "Yes", "No" %>
          				<%= p.label "I am doing this program privately and have not mentioned it to my company" %>
          			</div> -->
          			<div>
          				<%= p.check_box :company_is_aware_of_program, {}, "Yes", "No" %>
          				<%= p.label "My company is aware I am doing this program" %>
          			</div>
          			<div>
          				<%= p.check_box :company_suggested_participation, {}, "Yes", "No" %>
          				<%= p.label "My company suggested I participate in this program" %>
          			</div>
          			<div>
          				<%= p.check_box :company_supports_participation, {}, "Yes", "No" %>
          				<%= p.label "My company supports the financial costs of this program" %>
          			</div>
            		<br/>
            	</div>
          	</div>
            	
            <div class="tab-pane fade" id="9" style="">
              <h3>31. How did you hear about Womenship ­ EPWN Lisbon Mentoring Program?</h3>
            	<div class="container">
        		  	<!-- <div>
          				<%= p.check_box :nationality %>
          				<%= p.label "EPWN communication, I am an EPWN member" %>
          			</div>
          			<div>
          				<%= p.check_box :nationality %>
          				<%= p.label "EPWN communication, I still am not an EPWN member" %>
          			</div> -->
          			<div>
                  <%= p.check_box :heard_about_program_from_epwn, {}, "Yes", "No" %>
                  <%= p.label "EPWN communication" %>
                </div>
          			<div>
          				<%= p.check_box :heard_about_program_from_previous_participant, {}, "Yes", "No" %>
          				<%= p.label "From a participant in a previous edition of the program" %>
          			</div>
          			<div>
          				<%= p.check_box :heard_about_program_from_epwn_member, {}, "Yes", "No" %>
          				<%= p.label "From an EPWN member" %>
          			</div>
          			<div>
          				<%= p.check_box :heard_about_program_from_company, {}, "Yes", "No" %>
          				<%= p.label "From my company" %>
          			</div>
          			<div>
          				<%= p.check_box :heard_about_program_in_the_press, {}, "Yes", "No" %>
          				<%= p.label "In the press" %>
          			</div>
          			<div>
          				<%= p.label "Other (please specify)" %>
          		  		<br/>
          		  		<%= p.text_field :heard_about_program_from_other_specified, :class => "text_field_spec" %>
          			</div>
            		<br/>
            	</div>
        	
            	<h3>32. Please note any preferences or constraints you would like us to be aware of in terms of schedule, meeting frequency, location, language etc.</h3>
            	<div class="container">
          			<%= p.text_area :preference_or_constraint, :size => "70x8" %>
            		<br/>
            		<br/>
            	</div>
        	
            	<div class="container">
        				<%= p.submit "Submit" %>
            		<br/>
            	</div>
            </div>
          </div>
            
          	
        	<a class="btn btn-primary" id="btnPrevious">Previous</a>
          <a class="btn btn-primary" id="btnNext">Next</a>
            
          <script type="text/javascript">
            function toggleMe(a){
              var e=document.getElementById(a);
              if(!e)
                return true;
              if(e.style.display=="none") {
                e.style.display="block";
              }
              else {
                e.style.display="none";
              }
              return false;
            }
                    
            $('#btnNext').click(function() {
              $('.nav-tabs > .active').next('li').find('a').trigger('click');
            });

            $('#btnPrevious').click(function() {
              $('.nav-tabs > .active').prev('li').find('a').trigger('click');
            });
             
            function verifyPercentage() {
              var percentage = 0.0;
               
              var source = document.getElementById("namebox").value;
              if(source !== "") {
                percentage += 1; 
              }
               
              source = document.getElementById("emailbox").value;
              if(source !== "") {
                percentage += 1; 
              }
               
              source = document.getElementById("phonebox").value;
              if(source !== "") {
                percentage += 1; 
              }
               
              source = document.getElementById("skypebox").value;
              if(source !== "") {
                percentage += 1; 
              }
               
              source = document.getElementById("linkedinbox").value;
              if(source !== "") {
                percentage += 1; 
              }
               
              source = document.getElementById("picturebox").value;
              if(source !== "") {
                percentage += 1; 
              }
               
              source = document.getElementById("cvbox").value;
              if(source !== "") {
                percentage += 1; 
              }
              
              percentage = Math.floor(percentage / 7 * 100);
               
              source = document.getElementById("progresstext").innerHTML = "Your application is at " + percentage + "%";
              document.getElementById('progressbar').setAttribute("style","width: " + percentage + "%");
               
            } 
          </script>
            	
      	<% end %>
    	</div>
    </body>
  </html>
</div>