<script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>
<div class="container">
  <h1>Your Application</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar" style="margin-top: 15px;">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-9 personal-info">
      <div class="well">
      <h3>Thank you for taking your time to answer this mentee application form.<br/>
        This form is an important tool to evaluate your fit with the Lisbon mentoring program and, if
        you are selected for the program, will be essencial to match you with your mentor!<br/><br/></h3>
      </div>
    </div>
  </div>
  <!DOCTYPE html>
  <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/datepicker.css"> 
      <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
      <ul class="nav nav-tabs">
        <li class="active" style="word-wrap: break-word; width: 11%;">
          <a href="#1" data-toggle="tab">About Myself&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#2" data-toggle="tab">PWN and mentoring</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#3" data-toggle="tab">Availability&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#4" data-toggle="tab">Description of myself</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#5" data-toggle="tab">Mentoring Interest</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#6" data-toggle="tab">About the mentor</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#7" data-toggle="tab">Institutional support</a>
        </li>
        <li style="word-wrap: break-word; width: 11%;">
          <a href="#8" data-toggle="tab">Finalizing your application</a>
        </li>
      </ul>
      <br/>
                
      <div id="div_register" style="">
        <div class="alert alert-info alert-dismissable" style="width: 75%; margin-left: 25%">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          You can save your changes and submit you application later.
        </div>
                 
        <%= form_for @profile do |p| %>
          <div style="width: 75%; margin-left: 25%">
            <%= p.label "Your application is at 0%", :id => "progresstext", :class => "long_label_spec"%>
            <div class="progress progress-striped">
              <div id="progressbar" class="progress-bar" style="width: 0%;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
            
          <div class="tab-content">
            <div class="tab-pane fade in active" id="1" style="width: 90%">
              <%= render :partial => "about_my_self", :locals => {:p => p} %>
            </div>
            <div class="tab-pane fade" id="2">  
              <%= render :partial => "epwn_and_mentoring", :locals => {:p => p} %>
            </div>
            <div class="tab-pane fade" id="3">
              <%= render :partial => "availability", :locals => {:p => p} %>
          	</div>
          	<div class="tab-pane fade" id="4">
              <%= render :partial => "description_of_myself", :locals => {:p => p} %>
            </div>
            <div class="tab-pane fade" id="5">
              <%= render :partial => "mentoring_interest", :locals => {:p => p} %>
            </div>
            <div class="tab-pane fade" id="6">
              <%= render :partial => "about_the_mentor", :locals => {:p => p} %>
            </div>
            <div class="tab-pane fade" id="7">
              <%= render :partial => "institutional_support", :locals => {:p => p} %>
            </div>
            <div class="tab-pane fade" id="8">
              <%= render :partial => "finalizing_your_application", :locals => {:p => p} %>
            </div>
          </div>
  
            
          <script type="text/javascript">
            function toggleMe(a){
              var e=document.getElementById(a);
              if(!e)
                return true;
              if(e.style.display=="none") {
                e.style.display="block";
              }
              else {
                e.style.display="none";
              }
              return false;
            }
            
            function nextTab() {
              $('.nav-tabs > .active').next('li').find('a').trigger('click');
            }
            
            function previousTab() {
              $('.nav-tabs > .active').prev('li').find('a').trigger('click');
            }
            
             
          </script>
                
        <% end %>
      </div>
    </body>
  </html>
</div>