  <script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>

  <div class="container">
    <h1>Your Application</h1>
    <hr>
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar" style="margin-top: 15px;">       
        </div>
      </div>
        
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
    		<h3>Thank you for taking your time to answer this mentee application form.<br/> 
            This form is an important tool to evaluate your fit with the Lisbon mentoring program and, if
            you are selected for the program, will be essencial to match you with your mentor!<br/><br/></h3>
      </div>
    </div>
      
  	<!DOCTYPE html>
    <html>
      <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      </head>
         
      <body>       
        <ul class="nav nav-tabs">
          <li class="active" style="word-wrap: break-word; width: 11%;">
            <a href="#1" data-toggle="tab">About Myself&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li style="word-wrap: break-word; width: 11%;">
            <a href="#2" data-toggle="tab">EPWN and mentoring</a>
          </li> 
          <li style="word-wrap: break-word; width: 11%;">
            <a href="#3" data-toggle="tab">Availability&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li style="word-wrap: break-word; width: 11%;">
            <a href="#4" data-toggle="tab">Description of myself</a>
          </li>
          <li style="word-wrap: break-word; width: 11%;">
            <a href="#5" data-toggle="tab">Mentoring Interest</a>
          </li>
          <li style="word-wrap: break-word; width: 11%;">
            <a href="#6" data-toggle="tab">Mentoring Relationship</a>
          </li>
          <li style="word-wrap: break-word; width: 11%;;">
            <a href="#7" data-toggle="tab">About the mentor</a>
          </li>
          <li style="word-wrap: break-word; width: 11%;;">
            <a href="#8" data-toggle="tab">Institutional support</a>
          </li>
          <li style="word-wrap: break-word; width: 11%;;">
            <a href="#9" data-toggle="tab">Finalizing your application</a>
          </li>           
        </ul>
        <br/>
                
        <div style="margin-left: 300px">
          <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fa fa-coffee"></i>
            This is an <strong>.alert</strong>. Use this to show important messages to the user.
          </div>
          <%= form_for @profile do |p| %>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="1" style="">
                <h3>1. About myself: contact details</h3>
                <div class="container">
          		  	<div>
          		  		<%= p.label "Name", :class => "label_spec" %>
          		  		<%= p.text_field :skype_name, :class => "text_field_spec" %>
          		  	</div>
          		  	<div>
          		  		<%= p.label "Email", :class => "label_spec" %>
          		  		<%= p.text_field :phone_number, :class => "text_field_spec" %>
          		  	</div>		  
          		  	<div>
          		  		<%= p.label "Telephone", :class => "label_spec" %>
          		  		<%= p.text_field :phone_number, :class => "text_field_spec" %>
          		  	</div>
          		  	<div>
          		  		<%= p.label "Skype Name", :class => "label_spec" %>
          		  		<%= p.text_field :skype_name, :class => "text_field_spec" %>
          		  	</div>
                  <div>
          		  		<%= p.label "Linkedin Profile", :class => "label_spec" %>
          		  		<%= p.text_field :linkedin_profile, :class => "text_field_spec" %>
          		  	</div>	    
          		    <div>
          		  		<%= p.label "Picture", :class => "label_spec" %>
          		  		<br/>
          			  	<%= p.file_field :picture %>
                  </div>
          		  	<div>
            				<%= p.label "CV", :class => "label_spec" %>
            				<br/>
            			 	<%= p.file_field :cv %>
          		  	</div> 	
        		      <br/>
                </div>
              	          	
              	<h3>2. About myself: demographics</h3>
                <div class="container">
          		  	<div>
          		  		<%= p.label "Birth", :class => "label_spec" %>
          		  		<%= p.text_field :born_on, :class => 'datepicker' %>
          		  	</div>
  					  <div class="field">
      					<%= p.label "Where are you from?" %><br />
      					<%= p.country_select :country_origin, {priority: %w(PT), prompt: 'Please select a country'} %>
          	  </div>
              <br/>
              <h4> Where do you live?</h4>
              <div class="field">
      					<%= p.label "Country" %><br />
      					<%= p.country_select :country_residence, {priority: %w(PT), prompt: 'Please select a country'} %>
              </div>
              <br/>
              <div class="field">
                  <%= p.label :city %><br />
                  <%= render partial: 'subregion_select', locals: {parent_region: p.object.country_residence} %>
                </div>
                  <br/>
          		  	<div>
          		  		<%= p.label "Marital Status", :class => "label_spec" %>
          		  		<%= p.radio_button :marital_status, 'single'  %>
  						      <%= p.label :marital_status_single, 'Single' %>
  		              <%= p.radio_button :marital_status, 'cohabiting' %>
  						      <%= p.label :marital_status_cohabiting, 'Cohabiting' %>
          		  		<%= p.radio_button :marital_status, 'married' %>
        						<%= p.label :marital_status_married, 'Married' %>
        						<%= p.radio_button :marital_status, 'divorced' %>
        						<%= p.label :marital_status_divorced, 'Divorced' %>
        						<%= p.radio_button :marital_status, 'widowed' %>
        						<%= p.label :marital_status_widowed, 'Widowed' %>
          		  	</div>
                  <br/>
          		  	<div>
          		  		<%= p.label "Number of Children", :class => "label_spec" %>
          		  		<%= p.number_field :number_children, in: 1..20, step: 1 %>
          		  	</div>		     	
            		  <br/>
                </div>

          				<%= p.submit "Submit" %>
              		<br/>
              	</div>
              </div>
            </div>
              
            	
          	<a class="btn btn-primary" id="btnPrevious">Previous</a>
            <a class="btn btn-primary" id="btnNext">Next</a>
              
            <script type="text/javascript">
              function toggleMe(a){
                var e=document.getElementById(a);
                if(!e)
                  return true;
                if(e.style.display=="none") {
                  e.style.display="block";
                }
                else {
                  e.style.display="none";
                }
                return false;
              }
                      
              $('#btnNext').click(function() {
                $('.nav-tabs > .active').next('li').find('a').trigger('click');
              });

              $('#btnPrevious').click(function() {
                $('.nav-tabs > .active').prev('li').find('a').trigger('click');
              });
                
            </script>  	
        	<% end %>
      	</div>
      </body>
    </html>
  </div>