
<div class = "deviseforms">
 <h2>Edit Your Account</h2>

<div class = "deviseforms">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, :class => "label-spec"%></div>
  <br />
  <div><%= f.label "First Name" %><br />
  <%= f.text_field :firstName %></div>
  <br />
  <div><%= f.label "Last Name" %><br />
  <%= f.text_field :lastName %></div>
  <br />
  <div><%= f.label "Sign as a ..." %><br />
      <%= f.radio_button :type, "Mentee" %> &nbsp
        <%= f.label :type, "Mentee", :value => "Mentee" %>&nbsp &nbsp &nbsp &nbsp &nbsp
      <%= f.radio_button :type, "Mentor" %> &nbsp
        <%= f.label :type_mentor, "Mentor",:value => "Mentor" %> &nbsp 
  </div>
  <br />
  <br />
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>
  <br />
  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    <br />
  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>
   <br />
  <div><%= f.submit "Update" %></div>
<% end %>
      </form>
      <br />
 </div> 
<h3>Cancel my account</h3> - Unhappy?
<p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<br />

<%= link_to "Back", :back %>
<br />
<br />
    </div> 
    </div>