<div class = "deviseforms">
<h2>Sign up</h2>


<div class = "deviseforms">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 
  <div><%= f.label "First Name" %><br />
  <%= f.text_field :firstName %></div>
  <br />
  <div><%= f.label "Last Name" %><br />
  <%= f.text_field :lastName %></div>
  <br />
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>
  <br />
  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>
  <br />
  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
    <br />
    <div><%= f.label "Sign up as a ..." %><br />
		  		<%= f.radio_button :type, "Mentee" %> &nbsp
		  	    <%= f.label :type, "Mentee", :value => "Mentee" %>&nbsp &nbsp &nbsp &nbsp &nbsp
		   		<%= f.radio_button :type, "Mentor" %> &nbsp
		        <%= f.label :type_mentor, "Mentor",:value => "Mentor" %> &nbsp 
    </div>
   <br />
  <div><%= f.submit "Sign up" %></div>
  </div>
<% end %>
<br />
&nbsp &nbsp <%= render "devise/shared/links" %>
<br />

</div>

		  