<div class="panel-body">
 <div style="font-size: 18px; line-height: 1.5">
  <div>Description of my career: 
  <b><%= @profile.career_description %></b>
  </div>
<br>
<hr>
<br>
  <div>My Strengths:
  <ol>
  <li><b><%= @profile.strengh_1 %></b></li>
  <li><b><%= @profile.strengh_2 %></b></li>
  <li><b><%= @profile.strengh_3 %></b></li>
  </ol>
  </div>

  <div>Interests and characteristics that describe me best:  
  <b><%= @profile.interests_and_characteristics %></b>
  </div>


<hr>
  
  <div>Motivations to be on the PWN Mentoring program:  
  <b><%= @profile.motivations %></b>
  </div>

  <div>My Goals in participation on the Mentoring program:
  <ol>
  <li><b><%= @profile.goal_1 %></b></li>
  <li><b><%= @profile.goal_2 %></b></li>
  <li><b><%= @profile.goal_3 %></b></li>
  </ol>
  </div>

  <div>Who do I want to be:  
  <b><%= @profile.aspirations %></b>
  </div>
<br>
  <div>What do I want to be known for:  
  <b><%= @profile.want_to_be_known_for %></b>
  </div>
<br>
  <div>Main area in which I seek a mentor:  
  <b><%= @profile.want_to_be_known_for %></b>
  </div> 
  <% if @profile.mentoring_in_other_one.present? %>
  <div>Other:<b><%= @profile.mentoring_in_other_one %></b>
  </div>
  <% end %>
  
  <br>

  <div>Specific areas in which I seek a mentor:
  <ul>
  <li>Leadership Development: <b><%= @profile.mentoring_in_leadership %></b></li>
  <li>Change Management: <b><%= @profile.mentoring_in_change_mng %></b></li>
  <li>Conflict management: <b><%= @profile.mentoring_in_conflict %></b></li>
  <li>People Management: <b><%= @profile.mentoring_in_people %></b></li>
  <li>Political acumen: <b><%= @profile.mentoring_in_political %></b></li>
  <li>Strategic Thinking: <b><%= @profile.mentoring_in_strategic %></b></li>
  <li>Cross­-Cultural Working Practices: <b><%= @profile.mentoring_in_cross_cultural %></b></li>
  <li>Networking: <b><%= @profile.mentoring_in_networking %></b></li>
  </ul>
  </div>
  
  <% if @profile.mentoring_in_other_one.present? %>
  <div>Other: <b><%= @profile.mentoring_in_other_two %></b>
  </div>
  <% end %>
  
  
</div>
</div>