

 <div class="container">
    <h1>Your Area</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
       
       <% if @create_new_tag %>
	        <% if @mentee %>
	  	    <%= link_to "New Mentee Application", new_profile_path(@user.id) %>
	  	    <% else %>
	  	    <%= link_to "New Mentor Application", new_profile_path(@user.id) %>
	  	    <% end %>
       <% else %>
        <%= image_tag(@profile.picture_url, :width => 200) if @profile.picture.present? %>
        <div>
  	   <%= link_to "Edit Application", edit_profile_path(@profile.id) %> 
  	</div>
  	</div>
  	</div>
  	<%= render 'profiles/profileshow' %>
       <% end %> 
        </div>
      </div>


