<!DOCTYPE html>

  <head>

    <div align="center">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title><%= content_for?(:title) ? yield(:title) : "EPWN Lisbon" %></title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "application" %>
  </div>
    <div clearfix style =" margin-left: 1%; margin-top: 1%;">
      <img src="../images/pwn_lisbon.png" width="300" height="125" alt="pwn_logo" border="">
    </div>
    <div  align="right">
    <p><%= link_to '<button type="button" class="btn btn-default btn-lg" style =" margin-right: 4%;">Your Account</button>'.html_safe, "user" %></p>
    </div>
  </head>
  
  
  <body>
  </br>
  </br>


<div class="jumbotron" style="background-image: url(/images/carrerwoman.jpg);  background-repeat: no-repeat; background-size: 100% auto">
          <h1>Mentoring Program 2015</h1>
          <h2></h2>
          <p>Mentee Applications open from November 20th, 2014 to January 15th, 2015</p>
          <p><%= link_to '<button type="button" class="btn btn-primary" >Learn More</button>'.html_safe, "mentoring" %></p>

        </div>

  </br>
  </br>  
  </br>
  </br>  
  </br>

</div>
  </body>
</html>