<div class="panel-body">

  <div>Member of PWN: 
  <b><%= @profile.member %></b>
  </div>
  
  <div>Participated in Mentoring Program:
  <b><%= @profile.previous_participation %></b>
  </div>
  <% if @profile.previous_participation_other.present? %>
  <div>More specifically:  <b><%= @profile.previous_participation_other %></b>
  </div>
  <% end %> 

  <hr>
  
  <div>Availability for Trainings:
  <ul>
   <li>8h30-10h30: <b><%= @profile.availability_8 %></b> </li>
   <li>12h30-14h30: <b><%= @profile.availability_12 %></b></li>
   <li>18h00-20h30: <b><%= @profile.availability_18 %></b></li>
  </ul>
  </div>
<br>
  <div>Availability for Monthly Breakfasts:  
  <b><%= @profile.availability_monthly_breakfasts %></b>
  </div>
<br>
  <div>Availability for Mentee buddy contacts:  
  <b><%= @profile.availability_buddy_contacts %></b>
  </div>
<br>
  <% if @profile.availability_obs.present? %>
  <div>Availability Observations:  <b><%= @profile.availability_obs %></b>
  </div>
  <% end %>

<br>

  <div>Given Permissions:
  <ul>
  <li> Permission for your basic demographic data and contacts to be shared with fellow international mentoring programs for benchmarking 
purposes only: <b><%= @profile.permission_benchmarking %></b></li>
  <li> Permission for your contacts to be shared with interested reporters to help promote the program: <b><%= @profile.permission_promoting %></b>
  </li>
  <% if @profile.previous_participation_other.present? %>
  <div>Observations:  <b><%= @profile.permission_other %></b>
  </div>
  <% end %> 
  </div>
  

</div>