<!DOCTYPE html>
<html>

  <head>
    <title>PWN Lisbon</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  
  
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit Account', edit_user_registration_path, :class => 'navbar-link' %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
    <% end %>
  </head>
  
  
  
  <body class='<%= controller.controller_name %>'>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class="footer dark"> 

      <div class="menu">
          <style>
    #content{
        padding-right:0px;
        margin-left: 0px; 
    }
    </style>
    
    <script>
      function test1() {
        var myObject, newfolder;
        myObject = new ActiveXObject("Scripting.FileSystemObject");
        newfolder = myObject.CreateFolder ("home/notebook/Desktop/my_new_folder");
      }
      
    </script>
        <div class="wrap clearfix">
          <nav class="links">
            <a href="/">Home</a> |
            <a href="aboutus">About Us</a> |
            <a href="contacts">Contacts</a> | 
            <a href="#">Help</a> |
            <a href="#">Privacy</a> |
            <a href="#">Terms</a>    
          </nav>
      
          <nav class="social">      
            <a target="_blank" class="links" href="https://www.facebook.com/pages/EPWN-Lisbon/127442827333598"> <img src="../images/facebook.png"  > </a>
            <a target="_blank" class="links" href="http://www.linkedin.com/groups/PWN-Lisbon-3754527?gid=3754527&trk=anet_about_guest-h-parent_group"> <img src="../images/linkedin.png"  > </a>
            <a target="_blank" class="links" href="https://twitter.com/EPWNLisbon"> <img src="../images/twitter.png"> </a>
            <a target="_blank" class="links" href="https://www.youtube.com/user/EPWNLisbon"> <img src="../images/youtube.png"> </a>
          </nav>
        </div>
    
        <span>
          <p class="footnote"> © EPWN Lisbon 2014
          <%= link_to '<button style="border:30px; background-color: #D9B2B2; align = right" type="button" class="btn btn-default btn-lg"><span style="color: #4C1A1A" class="glyphicon glyphicon-lock"></span></button>'.html_safe, admin_root_path  %></p>
        </span>  
      </div>

    </div>
  </body>
</html>
