<!DOCTYPE html>
<html>
  <head>
    <title>EPWN Lisbon</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="http://www.dreamtemplate.com/dreamcodes/social_icons/tsc_social_icons.css" />
  
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit Account', edit_user_registration_path, :class => 'navbar-link' %> | 
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
    <% end %>
  </head>
  
  <body class='<%= controller.controller_name %>'>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class="footer dark"> 
      <div class="menu">
        <div class="wrap clearfix">
          <nav class="links">
            <a href="/">Home</a>
            <a href="#">About Us</a>
            <a href="#">Contacts</a>
            <a href="#">Help</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>    
          </nav>
      
          <nav class="social">        
            <a class="facebook_round_gray_32 tsc_social_round_gray_32" title="facebook" href="#">facebook</a>
            <a class="twitter2_round_gray_32 tsc_social_round_gray_32" title="twitter" href="#">twitter</a>
            <a class="linkedin_round_gray_32 tsc_social_round_gray_32" title="linkedin" href="#">linkedin</a>
            <a class="skype_round_gray_32 tsc_social_round_gray_32" title="skype" href="#">skype</a>
            <a class="youtube_round_gray_32 tsc_social_round_gray_32" title="youtube" href="#">youtube</a>
          </nav>
        </div>
    
        <span>
          <p class="footnote"> © EPWN Lisbon 2014 </p>
          <%= link_to '<button style="border:30px; background-color: #dadada; border-radius: 30px; margin-top: 24px; text-align: center" type="button" class="btn btn-default btn-lg"><span style="" class="glyphicon glyphicon-lock"></span></button>'.html_safe, admin_root_path  %>
        </span>    
      </div>
    </div>
  </body>
</html>
